@import "bulma/css/bulma.css";
@import "style/bingo-board.module.css";
@import "style/navbar.module.css";
@import "style/name-dialog.module.css";
@import "style/board-controls.module.css";
@import "style/lucky-numbers.module.css";

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

main {
	width: 50vw;
	max-width: 40rem;
}